{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
           {# {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-error rounded mb-3" role="alert">{{ flashError }}</div>
            {% endfor %} #}

            <h1 class="my-5 text-center">Créer un compte</h1>

            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.phone) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(registrationForm.adresse) }}
                    </div>
                </div>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'J\'accepte la politique de confidentialité et les conditions de service'
                }) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>S'inscrire</button>

                <p class="mt-5 mb-3 text-center text-muted">Vous aviez déjà un compte? 
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
