{% extends 'base.html.twig' %}

{% block title annonce.title %}

{% block body %}

    <article>
        <h1> {{annonce.title}} </h1>
        <p> {{annonce.description}} </p>
        <p> {{annonce.price}} FCFA</p>
        <p> {{annonce.surface}} m2</p>
        <p> {{annonce.rooms}} pièces</p>
        <p> {{annonce.bedrooms}} chambres </p>
    </article>

    <a href=" {{path('app_annonces_edit',{id: annonce.id} )}} ">Modifier</a> |
    <a href=" {{path('app_home')}} ">Retour</a>

{% endblock %}