                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Utilisateurs</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">{{userAll|length}}</h2>
                                            <p class="text-white mb-0">{{ "now"|date("d/M/y") }}</p>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card gradient-2">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Hommes</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">{{userMale|length}}</h2>
                                            <p class="text-white mb-0">{{ "now"|date("d/M/y") }}</p>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-male"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card gradient-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Femmes</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">{{userFemale|length}}</h2>
                                            <p class="text-white mb-0">{{ "now"|date("d/M/y") }}</p>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-male"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card gradient-4">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Publications</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">{{annonces|length}}</h2>
                                            <p class="text-white mb-0">{{ "now"|date("d/M/y") }}</p>
                                        </div>
                                        <span class="float-right display-5 opacity-5"><i class="fa fa-newspaper-o"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
