
            <article class="annonce bg-white rounded shadow">
                <div class="row">
                    <div class="col-md-6 mt-3 ml-3 mx-auto">
                        <table class="table table-striped table-bordered zero-configuration">
                            <tr>
                                <th>Nom</th>
                                <td>{{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <th>Prénom(s)</th>
                                <td>{{ user.firstName }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ user.sexe }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <th>Résidence</th>
                                <td>{{ user.adresse }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                        </table>
                        <p>Compte créé depuis le {{ user.createdAt|date("d/M/Y") }}</p>
                        <p>Auteur de {{user.annonces|length}} publication(s)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <table class="table table-striped table-bordered zero-configuration">
                            {% for annonce in user.annonces %}
                                <tr>
                                    <th>{{ annonce.title }}</th>
                                    <td>
                                        <ul>
                                            <li>
                                                {{ annonce.typeBien }}
                                            </li>
                                            <li>
                                                {{ annonce.price }}
                                            </li>
                                            <li>
                                                {{ annonce.quartier}}
                                            </li>
                                            <li>
                                                <b>
                                                    <a href="http://maps.google.com?q={{annonce.location}}">Cliquer ici <i class="fa fa-map-marker"></i></a>
                                                </b>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </article>